@use '../../base';

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.button-grid-container {
  height: auto;
  width: 65%;
  max-width: 800px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 10px;
  &__range {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0 16px;
    background: white;
    &--button {
      height: 40px;
      padding: 10px 38px;
      border: none;
      border-radius: 20px;
      background-color: transparent;
      color: base.$blue;
      font-weight: bold;
      &.active {
        background-color:base.$light-gray;
      }
    }
    &--button:hover {
      cursor: pointer;
    }
    
  }

  .filter {
    background: white;
    height: 50px;
    width: 150px;
    border-radius: 12px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    button {
      border: none;
      background: transparent;
      cursor: pointer;
    }
    
  }

}


.modal {
  position: absolute;
  top: 230px;
  right: 32px;
  background-color: white;
  width: 300px;
  height: 250px;
  padding: 16px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
  animation: modalFadeIn 0.3s ease-out;

  &__close-section {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    .close-button {
      position: absolute;
      right: 16px;
      background: none;
      border: none;
      font-size: 16px;
      cursor: pointer;
    }
  }
  &__options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 80%;
    label input {
      margin-right: 10px;
    }
    button {
      align-self: center;
      border: none;
      background-color: base.$red;
      color: white;
      font-weight: bold;
      border-radius: 25px;
      height: 50px;
      width: 150px;
    }
  }
}

@media (width <= 900px) {
  .button-grid-container {
    margin-top: 24px;
    margin-left: 0;
    width: 100%;
    padding: 0;
    max-width: unset;
    &__range {
      margin-bottom: 16px;
      
    }
  }
  .modal {
    top: 370px;
  }
}

@media (width <= 768px) {
  .button-grid-container__range {
    flex-direction: column;
    height: auto;
    padding: 16px 0;
    &--button.active {
      width: 90%;
    }
  }
  .modal {
    top: 470px;
  }
}
