@use '../../base';

.button-grid-container {
  height: 120px;
  width: 65%;
  max-width: 800px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 10px;
  &__range {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0 16px;
    background: white;
    &--button {
      height: 40px;
      padding: 10px 32px;
      border: none;
      border-radius: 20px;
      background-color: transparent;
      color: base.$blue;
      font-weight: bold;
      &.active {
        background-color:base.$light-gray;
      }
    }
    &--button:hover {
      cursor: pointer;
    }
    
  }

  .filter {
    background: white;
    height: 50px;
    width: 150px;
    border-radius: 12px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    button {
      border: none;
      background: transparent;
      cursor: pointer;
    }
    
  }

}


.modal {
  position: absolute;
  top: 200px;
  right: 32px;
  background-color: white;
  width: 300px;
  height: 250px;
  padding: 16px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
  

  &__close-section {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    .close-button {
      position: absolute;
      right: 16px;
      background: none;
      border: none;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

@media (width <= 900px) {
  .button-grid-container {
    margin-top: 24px;
    width: 90%;
    max-width: unset;
  }
}
