@use "../../base";

.sales-card {
  background: white;
  // color: white;
  border-radius: 12px;
  padding-bottom: 16px;
  width: 35%;
  max-width: 450px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  &__header {
    font-size: 16px;
    font-weight: bold;
    background: base.$gradient-1;
    color: white;
    padding: 16px 12px;
    border-radius: 12px 12px 0 0 ;
  }
  &__amount {
    font-size: 36px;
    margin: 10px 0;
    font-weight: bold;
    p {
      background-image: base.$gradient-1;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }
  }
  &__date {
    font-size: 14px;

  }
}
@media (width <= 900px) {
  .sales-card {
    width: 70%;
    align-self: center;
  }
}


