
@use '../../base';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
  background: base.$gradient-1;
  min-height: 100px;
  &__buttons {
    display: flex;
    margin-left: 10px;
    button {
      border: none;
      background: none;
      color: white;
      
      cursor: pointer;
    }
    button:first-child {
      margin-right: 32px;
    }
  }
}

@media (width <= 900px) {
  .navbar {
    padding: 0 24px;
  }
}