$primary-font: "Montserrat";

$blue: #121e6c;
$red: #ee424e;
$dark-gray: #606060;
$light-gray: #f3f3f3;

$background-color: #f6f4f9;
$gradient-1: linear-gradient(90deg, rgba(18,30,108,1) 0%, rgba(238,66,78,1) 150%);
$gradient-2: linear-gradient(90deg, rgba(18,30,108,1) 45%, rgba(238,66,78,1) 130%);
