@use "base";

* {
  font-family: base.$primary-font, sans-serif;
}

.outer-container {
  background-color: base.$background-color;
  height: 100dvh;
}

.main {
  padding: 32px;
  background: inherit;
  .upper-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media (width <= 900px) {
  .upper-section {
    flex-direction: column;
    align-items: center;
  }
}
